{% extends 'base.html.twig' %}

{% block main %}
    <h1>Deal creation</h1>

    <table>
        <tbody>

        <tr>
            <th>
            </th>
            <td><img src="{{ asset('uploads/images/' ~ deals.car.image) }}" width="350" height="200"></td>
        </tr>
        <tr>
            {#<th>User:</th>#}
            {#<td>{{ deals.user.userName }}</td>#}
        {#</tr>#}
        <tr>
            <th>Car Id:</th>
            <td>{{ deals.car.id }}</td>
        </tr>
        <tr>
            <th>Car make:</th>
            <td>{{ deals.car.make }}</td>
        </tr>
        <tr>
            <th>Car model:</th>
            <td>{{ deals.car.model }}</td>
        </tr>
        <tr>
            <th>Car transmision:</th>
            <td>{{ deals.car.transmision }}</td>
        </tr>

        <tr>
            <th>From date:</th>
            <td>{{ deals.fromDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>To date:</th>
            <td>{{ deals.toDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Number of days:</th>
            <td>{{ deals.numberOfDays }}</td>
        </tr>
        <tr>
            <th>Price per day:</th>
            <td>{{ deals.car.price }}</td>
        </tr>
        <tr>
            <th>Total price:</th>
            <td>{{ deals.dealPrice }}</td>
        </tr>
        </tbody>
    </table>
    {{ form_start(paymentForm) }}
        {{ form_widget(paymentForm) }}
    {{ form_end(paymentForm) }}

    {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#<input type="submit" value="Create" />#}
    {#{{ form_end(form) }}#}

    <ul>
        <li>
            <a href="{{ path('deal_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
