{% extends 'base.html.twig' %}

{% block main %}
<h3> Are you sure you want to delete this {{ extra.name }}?</h3>
    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}
    <div>
        <button type="submit" class="btn btn-primary btn-danger">DELETE</button>
        <a class="btn btn-primary bg-warning" href="{{ path('extra_show',{'id': extra.id})}}">CANCEL</a>
    </div>
    {{ form_end(delete_form) }}
{% endblock %}

