
{% extends 'base.html.twig' %}

{% block body %}


    <h1>Cars list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Transmision</th>
            <th>Category</th>
            <th>Number of seats</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for car in pagination %}
            <tr>
                <td><a href="{{ path('car_show', { 'id': car.id }) }}">{{ car.id }}</a></td>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.transmision }}</td>
                <td>{{ car.category }}</td>
                <td>{{ car.seats }}</td>
                <td>{{ car.price }}</td>
                <td><a href="{{ path('car_show', {'id': car.id}) }}">
                        <img src="{{ asset('uploads/images/'~ car.image) }}" width="350" height="200" > </a>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('booking_new',{ 'car_id': car.id}) }}">Book this car</a>
                        </li>

                        <li>
                            <a href="{{ path('car_show', { 'id': car.id }) }}">show</a>
                        </li>


                        {% if app.user != null %}
                            {% if app.user.isAdmin or app.user.isModerator %}
                                <li>
                                    <a href="{{ path('car_edit', { 'id': car.id }) }}">edit</a>
                                </li>
                            {% endif %}
                        {% endif %}

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if app.user != null %}
            {% if app.user.isAdmin or app.user.isModerator %}
                <li>
                    <a href="{{ path('car_new') }}">Create a new car</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
