{% extends 'base.html.twig' %}


{% block body %}
    <h1>Selected Cars list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Transmision</th>
            <th>Category</th>
            <th>Number of seats</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td><a href="{{ path('car_show', { 'id': car.id }) }}">{{ car.id }}</a></td>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.transmision }}</td>
                <td>{{ car.category }}</td>
                <td>{{ car.seats }}</td>
                <td>{{ car.price }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('car_new') }}">Create a new car</a>
        </li>
    </ul>


{% endblock %}
